@import url('https://fonts.googleapis.com/css2?family=Bitter&family=Cabin&family=Crimson+Text&family=Merriweather&family=Noto+Serif&family=Roboto+Slab&family=Slabo+27px&display=swap');

/*

font-family: 'Bitter', serif;
font-family: 'Cabin', sans-serif;
font-family: 'Crimson Text', serif;
font-family: 'Merriweather', serif;
font-family: 'Noto Serif', serif;
font-family: 'Roboto Slab', serif;
font-family: 'Slabo 27px', serif;

*/

html,body {
  max-width: 100%;
  overflow-x: hidden;
  user-select: none;
}

.jumbotron {
  
  background: #0a192f; 
  background: -webkit-linear-gradient(to right, #0a192f, #0a192f);
  background: linear-gradient(to right, #0a192f, #0a192f);
  width: 100%;
  height: 100%;
  margin-top: auto;
  margin-top: 80px;
}

.jumbotron1 {
  background: #000064; 
  background: -webkit-linear-gradient(to right, #1badd8, #00003e);
  background: linear-gradient(to right, #1badd8, #00003e);
  width: 100%;
  height: 100%;
  margin-top: 0px;
  padding: 0%;
  margin: 0em;
}
.hd1 {
  color: #fff;
}

a:hover {
  text-decoration: none;
}

.typer {
  color: #fff;
  margin-left: 60%;
  margin-top: 160px;
}
.navcol {
  background: #0a192f; /* old browsers fallback color*/
  background: -webkit-linear-gradient(to right, #0a192f, #0a192f);
  background: linear-gradient(to right, #0a192f, #0a192f);
  box-shadow: 2px 2px 10px rgba(255,255,255,.1);
  width: 100%;
  margin-top: auto;
  overflow: hidden;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  font-family: 'Slabo 27px', serif;
}

body {
  background: #0a192f; 
  background: -webkit-linear-gradient(to right, #0a192f, #0a192f);
  background: linear-gradient(to right, #0a192f, #0a192f);
  width: 100%;
  height: 100%;
  margin-top: auto;
  margin-top: 20px;
}

.nav-link {
  font-size: 19px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  scroll-behavior: smooth;
}

.footer {
  text-align: center;
  color: rgb(160, 255, 219);
}
.Contact-section {
  text-align: center;
}
.ca {
  margin-top: 80px;
  height: 590px;
  max-width: 100%;
  border-radius: 27px;
  background: linear-gradient(145deg, #09122a, #0b1532);
  box-shadow: 5px 5px 9px #050a18, -5px -5px 9px #0f1e46;
  color: #fff;
}

.cimg {
  width: 100%;
  height: 280px;
}
.cerr {
  margin-top: 125px;
}
.rthp {
  text-align: center;
}

html {
  scroll-behavior: smooth;
}

.pnc {
  border-radius: 47px;
  background: linear-gradient(145deg, #09122a, #0b1532);
  box-shadow: 5px 5px 9px #050a18, -5px -5px 9px #0f1e46;
  color: #fff;
}

.hn {
  font-variant: inherit;
  font-size: 1.8rem !important;
  color: #fff;
  font-weight: bolder;
}
.banner-img {
  width: auto;
  max-width: 100%;
  height: auto;
}
.bimg {
  width: auto;
  max-width: 100%;
  height: auto;
}

.proj-title {
  margin-top: 100px;
  margin-left: 30%;
  text-align: center;
  color: white;
}

.navbar-light .navbar-toggler {
  background-color: #ffef15;
}

#root {
  font-family: 'Noto Serif', serif;
}

.progress {
  position: fixed;
  top: 0;
  background-color: #ffef15 !important;
  z-index: 99999999999 !important;
}

.btn-secondary {
  background-color: #ffef15 !important;
  color: #000 !important;
}

@media screen and (max-width: 992px) {
  .bimg {
    margin-top: 5rem;
  }
}

.highLighted {
  color: #ffef15;
  font-weight: 600;
}

.nav-link:hover {
  color: #ffef15 !important;
}